
/*(Nombre): Leydianny Torres Feliz       (Matricula): 16-SIIT-1-048       (Seccion): 0541*/
/*(Nombre): Fernandito Zapata            (Matricula): 16-SIIN-1-058       (Seccion): 0541*/
/*(Nombre): Carlos Alvarez               (Matricula): 16-SIIN-1-067       (Seccion): 0541*/



USE [master]
GO
/****** Object:  Database [BaseDeDatos2]    Script Date: 06/04/2018 13:33:30 ******/
CREATE DATABASE [BaseDeDatos2]

USE [BaseDeDatos2]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 06/04/2018 13:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Codigo] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Precio] [int] NULL,
	[Fabricante] [int] NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Fabricantes]    Script Date: 06/04/2018 13:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fabricantes](
	[Codigo] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Fabricantes] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Articulos] ([Codigo], [Nombre], [Precio], [Fabricante]) VALUES (1, N'Nike Air Max', 3500, 1)
INSERT [dbo].[Articulos] ([Codigo], [Nombre], [Precio], [Fabricante]) VALUES (2, N'Tenis', 5000, 2)
INSERT [dbo].[Articulos] ([Codigo], [Nombre], [Precio], [Fabricante]) VALUES (3, N'Basket Ball', 2000, 3)
INSERT [dbo].[Fabricantes] ([Codigo], [Nombre]) VALUES (1, N'Nike')
INSERT [dbo].[Fabricantes] ([Codigo], [Nombre]) VALUES (2, N'Reebook')
INSERT [dbo].[Fabricantes] ([Codigo], [Nombre]) VALUES (3, N'Spalding')
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Fabricantes] FOREIGN KEY([Fabricante])
REFERENCES [dbo].[Fabricantes] ([Codigo])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Fabricantes]
GO
USE [master]
GO
