
/*(Nombre): Leydianny Torres Feliz       (Matricula): 16-SIIT-1-048       (Seccion): 0541*/
/*(Nombre): Fernandito Zapata            (Matricula): 16-SIIN-1-058       (Seccion): 0541*/
/*(Nombre): Carlos Alvarez               (Matricula): 16-SIIN-1-067       (Seccion): 0541*/



USE [master]
GO
/****** Object:  Database [BaseDeDatos3]    Script Date: 06/04/2018 13:43:30 ******/
CREATE DATABASE [BaseDeDatos3]
 
USE [BaseDeDatos3]
GO
/****** Object:  Table [dbo].[Almacenes]    Script Date: 06/04/2018 13:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacenes](
	[Codigo] [int] NOT NULL,
	[Lugar] [nvarchar](50) NULL,
	[Capacidad] [int] NULL,
 CONSTRAINT [PK_Almacenes] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cajas]    Script Date: 06/04/2018 13:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cajas](
	[NumReferencia] [char](10) NOT NULL,
	[Contenido] [nvarchar](50) NULL,
	[Valor] [int] NULL,
	[Almacen] [int] NULL,
 CONSTRAINT [PK_Cajas] PRIMARY KEY CLUSTERED 
(
	[NumReferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Almacenes] ([Codigo], [Lugar], [Capacidad]) VALUES (1, N'Venezuela', 1000000)
INSERT [dbo].[Almacenes] ([Codigo], [Lugar], [Capacidad]) VALUES (2, N'RD', 2000000)
INSERT [dbo].[Almacenes] ([Codigo], [Lugar], [Capacidad]) VALUES (3, N'Colombia', 3000000)
INSERT [dbo].[Cajas] ([NumReferencia], [Contenido], [Valor], [Almacen]) VALUES (N'1         ', N'Pescado', 10101010, 10)
INSERT [dbo].[Cajas] ([NumReferencia], [Contenido], [Valor], [Almacen]) VALUES (N'10        ', N'Carne de Pavo', 11111111, 1)
INSERT [dbo].[Cajas] ([NumReferencia], [Contenido], [Valor], [Almacen]) VALUES (N'2         ', N'Habichuelas', 99999999, 9)
ALTER TABLE [dbo].[Cajas]  WITH CHECK ADD  CONSTRAINT [FK_Cajas_Almacenes] FOREIGN KEY([Almacen])
REFERENCES [dbo].[Almacenes] ([Codigo])
GO
ALTER TABLE [dbo].[Cajas] CHECK CONSTRAINT [FK_Cajas_Almacenes]
GO
USE [master]
GO
